<div class="row" data-controller = "message">
  <div class="col-md-8 offset-md-2">
    <p class="text-muted my-5">
      To make sure you generate a strong key, please move your mouse randomly on the screen for at least 5 seconds.
      Once the key is generated, you will be able to input your message and submit it, after which you will receive
      a sharable link.
    </p>
    <p>Random Encryption Key - based on mouse X,Y coordinates ( <span class="text-primary" data-message-target="xyRealTime"></span> ):
      <div data-message-target="randomKey" class="text-muted"> > Keep moving your mouse</div>

    <input type="text" class="form-control my-5 d-none" data-message-target="linkInput">
    </p>
      <%= simple_form_for @message, data: {'message-target': 'form'} do |f| %>
        <%= f.input :content, label: false, id: 'content', input_html: { data: { 'message-target': 'content' }, rows: 9 } %>
        <%= f.button :submit, id: "btnSubmit",  data: { action: 'click->message#encryptMessage', 'message-target': 'submitBtn'} , class: 'btn btn-primary'%>
      <% end %>
  </div>
</div>
